.appeal {//first block + buttons)
   &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 700px;
   }
   &__content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 700px;
      background: $white;
      margin-right: $margin-top;
      @include shadow();
   }
   &__content-text h1,
   p {
      margin: $margin-top;
   }
   &__content-buttons {
      align-self: center;
      margin-top: $margin-sm;
      margin-bottom: $margin-sm;
   }
   &__content-logo {
      max-width: 700px;
      
      img {
         border: 1px solid $white;
         border-bottom-left-radius: $border-radius-b;
         border-bottom-right-radius: $border-radius-b;
         width: 100%;
      }
   }
   &__img {
      width: 600px;
      height: 100%;
   }
   &__bg {
      background-image: url("@/assets/img/appealImg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width:  100%;
      height: 100%;
      @include shadow();
   }
}

// small first block
@media (max-width: 1200px) {
   .appeal {
      &__wrapper {
        height: 600px;
      }
   }
}

@media (max-width: 900px) {
   .appeal {
      &__wrapper { 
         display: flex;
         flex-direction: row;
         justify-content: center;
      }
      &__content {
         width: 100%;
         margin-right: 0px;
      }
      &__content-logo {
         max-width: 900px;
         
         img {
            border: 1px solid $white;
            border-bottom-left-radius: $border-radius-b;
            border-bottom-right-radius: $border-radius-b;
            width: 100%;
         }
      }
      &__img {
         display: none;
      }
   }
}
@media (max-width: 375px) {
   .appeal {
      &__wrapper {
        
         height:500px;
      }
      &__content {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         min-width: 200px;
       
      }
   }}


// The features 
.solution{  
   margin-top: $margin-top;

   &__wrapper {
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $border-radius;
      background: $white;
      @include shadow();
      padding: $margin-top;
   }
   &__faq {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
   }
   &__answer { //wrapper for component feataures
      display: flex;
      justify-content: space-between;
      flex-direction: row;
   }
   &__answer-item {
      width: 33%;
   }
   &__item-img {
      margin-top: $margin-top;
      img {
         @include positionCenter();
         @include pulsingIcons();
      }
   }
   &__item-txt {
      p {
         color: black;
         text-align: center;
      }
   }
}
 
@media (max-width: 404px) {
   .solution{  
      // margin-top: $margin-top;
   
      &__wrapper {
         
         // display: flex;
         // flex-direction: column;
         // justify-content: space-between;
         // border-radius: $border-radius;;
         // @include shadow();
         // padding: $margin-top;
      }
      // &__faq {
      //    display: flex;
      //    flex-direction: row;
      //    justify-content: space-between;
      //    flex-wrap: wrap;
      //    width: 100%;
      // }
      &__answer { //wrapper for component feataures
   width: 100%;
         align-items: center;
         flex-direction: column;
      }
      &__answer-item {
         width: 100%;
      }
      &__item-img {
         margin-top: $margin-top;
         img {
            @include positionCenter();
            @include pulsingIcons();
         }
      }
      &__item-txt {
         p {
            color: black;
            text-align: center;
         }
      }
   }
}


.produse__img{
   margin-top: $margin-top;
   min-width: 100%;
   img{
      @include shadow();
      width: 100%;
      
   } 
}