@mixin button($color, $bg){
	color: $color;
	background: $bg;
	text-align: center;
	padding: 5px 10px;
	width: 130px;
	margin: 0px 0px 0px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: $body-text-sm;
}

@mixin animations() {
	transition-duration: 0.9s;
	transition-timing-function: ease;
}
@mixin shadow() {
	border: 2px solid $yellow;
	box-shadow: 2px 2px 10px $yellow;
	border-radius: $border-radius-b;
 }
 @mixin shadowBottom() {
	border-bottom-left-radius: $border-radius-b;
	border-bottom-right-radius: $border-radius-b;
	box-shadow: 2px 2px 10px $yellow;
 }
 @mixin shadowHover() {
	box-shadow: 1px 1px 2px #6e6c78;
	transition-duration: 1s;
	transition-timing-function: ease;
 }
 @mixin positionCenter(){
	display: block;
	margin-left: auto;
	margin-right: auto;
 }




 @mixin pulsingIcons(){
	background: $white;
	border-radius: 50%;
	background-position: center;
	width: 90px;
	height: 90px;
	padding: 10px;
 
	-webkit-animation: pulsation 3s infinite;
	animation: pulsation 3s infinite;
 }

@mixin gridItem(){
	min-width:10px;
   height:100px; 
   max-width: 200px;
   max-height: 200px;
   border-radius: $border-radius;
}
@mixin gridContainer(){
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, minmax(10px, 1fr));
	grid-template-rows:  repeat(2, 1fr);
	row-gap: $min-margin;
	column-gap: $min-margin;
}

 @mixin centerTextPosition(){
	position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 @mixin line(){
	border-top: 2px solid $black;
	padding-top: 20px;
 }

@keyframes pulsation {
	0% {
		-webkit-transform: scale(0.8, 0.8);
		transform: scale(0.8, 0.8);
	}
	50% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		-webkit-transform:scale(0.8, 0.8);
		transform:scale(0.8, 0.8);
	}
}
