//colors
$yellow: #f0d247;
$bg-gradient: linear-gradient(90deg, rgba(249, 207, 13, 1) 40%, rgba(255, 244, 244, 1) 100%);
$black: #000;
$gray: #696969;
$white: #fff;
$red: #e50000;
$green: #228b22;
//sizes
$button-text: 15px;
$nav: 13px;
$border-radius: 5px;
$border-radius-b: 15px;
$margin-top: 20px;
$margin-sm: 10px;
$min-margin: 1px;
$shadow: 2px 2px 10px $yellow;

//font sizes
$headings: 20px;
$headings-sm: 18px;

$subheadings: 18px;
$subheadings-sm: 16px;

$body-text: 16px;
$body-text-sm: 14px;