
.black__button {
   background: $black;
   color: $yellow;
       
   }
   .black__button:hover {
      background: $gray;
      color: $white;
   }
   .black__button:active {
      background: #f0d247;
      color: $white;
   }
   
   
   .black__button,
   .green__button,
   .red__button {
      text-align: center;
      padding: 5px 10px;
      width: 130px;
      margin: 0px 0px 0px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: $body-text-sm;
   }
   .black__button.hidden {
      display: none;
   }
   .black__button:hover, .green__button:hover, .red__button:hover{
      background: $gray;
      color: $white;
   }
   .black__button:active {
      background: #f0d247;
      color: #fff;
   }
   
   .green__button {
      background: $green;
      color: $white;
   }
   .red__button {
      background: $red;
      color: $white;
   }
   