.black__button {
   @include button($yellow, $black);
}

.black__button:hover,
.green__button:hover,
.red__button:hover {
   background: $gray;
   color: $white;
}

.black__button:active,
.green__button:active,
.red__button:active {
   background: $yellow;
   color: $white;
}

.green__button {
   background: $green;
   color: $white;
}

.red__button {
   background: $red;
   color: $white;
}

.black__button.hidden {
   display: none;
}
