@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100;400&family=Rubik:wght@300&display=swap");
* {
	font-family: "Rubik", sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input,
textarea {
	display: block;
	border: 1px solid $black;
	padding: 5px;
	margin: 5px 0px;
	width: 100%;
	@include animations();
}
input:focus,
textarea:focus {
	border: 1px solid $yellow;
	color: $yellow;
}
input::-ms-clear {
	display: none;
}
button,
a {
	cursor: pointer;
	@include animations();
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: $yellow;
}
ul li {
	margin: 0;
	list-style: none;
}
img {
	vertical-align: top;
}
